<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Overview</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/community/allCommunities.css}">
</head>
<body>

<div th:replace="~{navbar :: navbar}"></div>

<header>
    <h1>All Communities</h1>
</header>

<div class="create-community-container">
    <a th:href="@{/communities/createCommunity}" class="create-community-link">Create Community</a>
</div>

<main>
    <section class="community-container">
        <h2>List of Communities</h2>
        <div class="community-list">
            <ul>
                <!-- loop through each community sent in the communityController class function showCommunityPage()-->
                <li th:each="entry : ${entries}" class="journal-entry">
                    <div class="story-item">
                        <img th:src="'data:image/png;base64,' + ${entry.image}" class="journal-image" alt="Generated Image" th:if="${entry.image}"/>

                        <div id="story-content">
                            <h3 th:text="${entry.title}" class="journal-title"></h3>
                            <h4 th:text="${entry.user.username}" class="journal-username"></h4> <!-- Display the username -->
                            <p th:text="${entry.content}" class="journal-text"></p> <!-- Display journal content -->
                            <small th:text="'Posted on: ' + ${#temporals.formatISO(entry.timestamp)}" class="journal-timestamp"></small>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>
</body>
</html>