<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Navbar</title>
</head>
<body>
<div th:fragment="navbar_login">
    <nav>
        <ul>
            <li><a th:href="@{/home}">Home</a></li>
            <li><a th:href="@{/journal}">Journal Entry</a></li>
            <li><a th:href="@{/profile}">Profile</a></li>
            <li><a th:href="@{/journal/sharePage}">Social</a></li>
            <li style="float:right"><a th:href="@{/login}">Social</a></li>
            <li style="float:right"><a th:href="@{/register}">Social</a></li>
        </ul>
    </nav>
</div>
</body>
</html>


